html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

input, label {
	vertical-align: middle;
}

p {
	margin: 0;
}

input[type="button"] {
	padding: 10px;
	margin: 3px;
}

#demo-control {
	margin: 10px 5%;
	background-color: antiquewhite;
	border: 1px solid;
	padding: 5px;
}

#demo-container {
	margin: 0 5%;
	width: 90%;
	height: 75%;
}

#p1 {
	color: red;
	font-weight: bold;
	margin-bottom: 5px;
}

#p1 > span {
	color: black;
	font-weight: normal;
	font-size: smaller;
}
